/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, em, img, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #87c9fc;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
font-family: Cicle-strong;
src: url("../fonts/Cicle_Gordita.ttf") format("opentype");
font-style: bold;
}

@font-face {
font-family: Cicle;
src: url("../fonts/Cicle_Fina.ttf") format("opentype");
font-style: normal;
}

p {
  padding: .5em 0;
}

h1 {
  font-size: 2.7em;
  padding-bottom: .5em;
}

h2 {
  font-size: 1.6em;
}

img {
  display: block;
  width: 100%;
}

