.coverImg {
  position: relative;
}

.siteTitle {
  padding: 3em 0;
  @media screen and (min-width: 62em) {
    position: absolute;
    top: 15em;
    left: 1em;
    z-index: 2;
    text-align: left;
  }
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.colums {
  @media screen and (min-device-width: 62em) {
    flex-direction: row;
  }
}

.column {
  width: 100%;
  padding: 5em;
  @media screen and (min-device-width: 62em) {
    width: 24%;
    display: inline-block;
    vertical-align: top;
  }
}

.stepImg {
  width: 75%;
  margin: 0 auto;
}

.textBox {
  padding: 5em;
}

.quote {
  padding: 2em 0;
}

.logo {
  width: 25%;
  position: absolute;
  top: 1em;
  left: 1em;
  @media screen and (min-device-width: 62em) {
    width: 10%;
  }
}

.socialMedia {
  margin: 1em 0;
}

.socialMedia li {
  display: inline-block;
}

.socialIcon {
  width: 10em;
  @media screen and (min-device-width: 62em) {
    width: 4em;
  }
}
