.secondaryBack {
  background-color: $secondaryColor;
}

.navBar {
  padding: 2em 0;
  a {
    color: $white;
  }
  li {
    font-size: 2.7em;
    padding: 1em 0;
    @media screen and (min-width: 62em) {
      font-size: 1.6em;
      display: inline-block;
      padding: 0 1em;
    }
  }
}

.about {
  background-image: url(../img/blurryhead.jpg);
  background-size: cover;
}

.aboutText {
  @extend .grid_12;
  @media screen and (min-width: 62em) {
    width: 66.666%;
  }
}

.headshot {
  display: none;
  @media screen and (min-width: 62em) {
    display: block;
  }
}

.underlinedList {
  li {
    list-style-type: disc;
  }
}

.contactForm {
  padding: 1em;
  li {
    font-size: 1.6em;
    padding: 1em;
    display: block;
  }
  input {
    padding: .5em;
    font-size: 2em;
    color: $gray;
  }
  textarea {
      resize: none;
      width: 80%;
      height: 10em;
      font-size: 2em;
      padding: .5em;
      color: $gray;
    }

  @media screen and (min-width: 62em) {
    li {
      padding: .5em;
      font-size: 1em;
    }
    input {
      font-size: 1em;
    }
    textarea {
      resize: none;
      width: 30%;
      height: 6em;
      font-size: 1em;
      padding: .5em;
    }
  }
}
